.favs-page {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.favs-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.favs-empty {
  text-align: center;
  font-size: 20px;
  opacity: 0.7;
  margin-top: 40px;
}

.favs-list-wrapper {
  margin-bottom: 150px;
}

.favs-list {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 14px;
  grid-template-columns: 1fr 1fr 1fr;
}

.favs-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 18px;
  border-radius: 14px;
  background: #fafafa;
  transition: all 0.2s ease;
  border: 1px solid #e8e8e8;
  width: 400px;
}

.favs-item:hover {
  background: #f0f0f0;
}

.favs-item-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

.favs-item-image {
  border-radius: 12px;
  object-fit: cover;
}

.favs-item-name {
  font-size: 18px;
  font-weight: 600;
}

.favs-clear {
  margin-top: 20px;
  padding: 10px 16px;
  border-radius: 10px;
  background: #ff4d4f;
  color: #fff;
  font-size: 15px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.favs-clean {
  padding: 10px 16px;
  border-radius: 10px;
  background: #4b3f3f;
  color: #fff;
  font-size: 15px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  padding: 10px;
}

.favs-clear:hover {
  background: #d9363e;
}

.favs-add-more {
  margin-top: 40px;
}

.favs-add-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
