.delivery {
  position: relative;
  display: flex;
}

.slidewr {
  background-image: url('../../../public/img/introSlide.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;

  display: flex;
}

.edfdf {
  color: white;
  width: 100%;
  justify-content: center;
  display: flex;
  font-size: 40px;
  letter-spacing: 9px;
}

.sdfs {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btmn {
  width: 100%;
  background-color: #ffa8a5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 12px;
  transition: box-shadow 0.2s linear;
  box-shadow: 0 0 5px #ffa8a500;

  &:hover {
    box-shadow: 0 0 7px #ffa8a5;
  }
}

.btmne {
  background-color: transparent;
  border: 1px solid #ffa8a5;
  color: #ffa8a5;
  transition: background 0.2s linear;

  &:hover {
    background: #ffa8a5;
    box-shadow: unset;
    color: #000;
  }
}

.btmns {
  display: flex;
  gap: 20px;
  width: 100%;
  margin: 10px 0 0 0;
}
.jjj {
  color: white;
  width: 100%;
}
.jvjv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.deliveryContent {
  position: absolute;
  display: flex;
}

.textd {
  position: absolute;
}

.one {
  top: 50px;
  font-size: 35px;
  left: 500px;
  font-weight: bold;
  color: #3f0c00;
  letter-spacing: 4px;
}

.two {
  font-size: 23px;
  top: 100px;
  left: 500px;
  white-space: nowrap;
  font-weight: bold;
  background-color: #34a9e9;
  padding: 0 10px;
  color: white;
}

.three {
  top: 95px;
  font-size: 25px;
  left: 630px;
  font-weight: bold;
  color: #3f0c00;
  font-size: 30px;
}
.link {
  top: 400px;
  left: 600px;
  background-color: #65c9ff;
  padding: 0 15px;
  font-size: 25px;
  transition: background-color 0.1s linear;

  &:hover {
    background-color: #54a4cf;
  }
}

.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  background-color: transparent;
  color: white;
  padding: 40px;
  border: none;
  cursor: pointer;
  z-index: 30;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.custom-prev {
  left: 300px;
  border-radius: 100%;
  justify-content: right;
}

.custom-next {
  right: 300px;
  border-radius: 100%;
}

#swipper {
  overflow: hidden;
}

.swiper-pagination-bullet {
  background-color: #ffa8a5;
  margin: 0 0 20px 0;
  width: 20px;
  height: 5px;
  border-radius: 0;
}

.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 5px;
}
