.answer {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.9s linear;
}

.answer.open {
  grid-template-rows: 1fr;
}

.answer-inner {
  overflow: hidden;
}

.wrapper {
  background-color: aqua;
}
