.header {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  z-index: 999;
  padding: 23px 0;
  transition: background 0.2s linear, color 0.2s linear;

  &:hover {
    background: #fff;
  }

  &:hover &_wrapper_left_nav_item {
    color: #444444;
  }

  &:hover &_wrapper_left_logo_url {
    color: black;
  }

  &:hover &_wrapper_right_icon_url {
    color: black;
  }

  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 200px;

    &_right {
      display: flex;
      gap: 30px;
      align-items: center;
      position: relative;

      &_icon {
        position: relative;

        &_url {
          color: white;
        }

        &_count {
          position: absolute;
          right: -10px;
          top: -7px;
          background-color: #ffa8a5;
          border-radius: 50%;
          display: flex;
          font-size: 10px;
          width: 15px;
          justify-content: center;
        }
      }
    }

    &_left {
      display: flex;
      gap: 30px;
      align-items: end;

      &_logo {
        fill: wheat;

        &_url {
          color: white;
          width: 210px;
        }
      }

      &_nav {
        display: flex;
        gap: 30px;

        &_item {
          color: #fff;
        }
      }
    }
  }
}

.searchWrap {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  border: 1px solid black;
  display: flex;
  background: white;
  z-index: 10;
}

.search {
  width: 100%;
  height: 100%;
  padding: 7px 40px 7px 10px;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  outline: none;
  background: transparent;

  &_icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
