@import '../../styles/mixins.scss';

.map {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  border: 1px solid black;
  border-radius: 16px;
  overflow: hidden;
  margin: 30px 0 0 0;
  position: relative; // Добавьте это
  z-index: 1; // Уменьшите z-index

  @include vp-1023 {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  &_container {
    width: 100%;
    height: 100%;
  }

  &_info {
    display: flex;
    flex-direction: column;
    padding: 14px 120px 5px 0;
    width: 100%;

    @include vp-1023 {
      padding: 10px;
    }
  }

  &_title {
    font-size: 40px;
    color: #4a403f;
    font-family: 'Playfair Display SC', serif;

    @include vp-1023 {
      font-size: 32px;
    }

    @include vp-500 {
      font-size: 24px;
    }
  }

  &_text-bold {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    color: #000000b0;

    @include vp-1023 {
      font-size: 16px;
    }

    @include vp-500 {
      font-size: 12px;
    }
  }

  &_text {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  &_adress {
    display: flex;
    align-items: start;
    gap: 5px;
    margin: 5px 0 0 0;

    &-street {
      font-size: 16px;
      color: #605857;
      display: flex;
    }
  }

  &_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #000;
    color: #000;
    margin: 20px 0;
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
    cursor: pointer;
    font-size: 24px;
    gap: 10px;

    @include vp-767 {
      padding: 5px;
    }

    &-open {
      position: fixed;
      bottom: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.423);
      border: none;
      width: 100%;
      height: 150px;
      font-size: 20px;
      cursor: pointer;
      z-index: 9999; // Увеличьте z-index для кнопки
      margin: 0;

      &:hover {
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }

  &_subText {
    font-size: 13px;
    margin-top: auto;
    color: #898989;

    @include vp-1023 {
      text-align: center;
    }
  }
}

.MapContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; // Добавьте это
  height: 100vh; // Добавьте это
  z-index: 9998; // Увеличьте z-index для карты (меньше чем у кнопки)
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5); // Добавьте затемнение фона (опционально)
}

.arrow {
  opacity: 0;
  transform: translateX(10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.map_btn:hover .arrow {
  opacity: 1;
  transform: translateX(0);
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
  margin-top: 100px;
}
